

.container {
  .hello-content {
    font-size: 1em;
    font-weight: 400;
    // text-align: justify;
    color: #000;
  }

  .col {
    width: 50%;
    height: 90%;
    font-size: .75em;
    float: left;
    position: relative;
    &.left-col {
      overflow: scroll;
    }
  }

  .intro {
    border-bottom: .15em solid $grayPurple;
    padding: .2em 0 .2em 0;
    margin-bottom: 1em;
  }

  .hello1,
  .hello2 {
    opacity: 0;
      .purple-highlight {
        color: $grayPurple;
      }
  }

  .hello1 {
    font-family: 'Poiret One';
    font-size: 2em;
    color: $grayPurple;
    font-weight: bold;
  }
  .hello2 {
    font-weight: 300;
    margin: .5em 0 .5em 0;
  }

  .inner-content {
    .text {
      opacity: 0;
      margin-bottom: 1.3em;
      .robinsegg-highlight {
        color: $robinsEgg;
        text-transform: uppercase;     
      }
    }
    .example {
      display: none;
    }

    &.work {
      #text-two {
        opacity: 1 !important;
        transition: opacity .25s ease-in;
      }
      #example-two {
        display: block;
      }
      .label:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    &.portfolio {
      #text-two,
      #text-three {
        opacity: 1 !important;
        transition: opacity .25s ease-in;
      }
      #example-two,
      #example-three {
        display: block;
      }
      .label:nth-child(3) {
        text-transform: uppercase;
        letter-spacing: .2em;
      }
    }
    &.creative {
      #text-two,
      #text-three,
      #text-four {
        opacity: 1 !important;
        transition: opacity .25s ease-in;
      }
      #example-two,
      #example-three,
      #example-four {
        display: block;
      }
      .label:nth-child(4) {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    &.contact {
      #text-two,
      #text-three,
      #text-four,
      #text-five {
        opacity: 1 !important;
        transition: opacity .25s ease-in;
      }
      #example-two,
      #example-three,
      #example-four,
      #example-five {
        display: block;
      }
      .label:nth-child(5) {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .example {
      width: 80%;
      height: 90%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: #fff;
      .square {
        justify-content: space-around;
        background-color: gray;
        height: 50%;
        float: left;
        border: .2em solid #fff;
        position: relative;
        &:hover {
          border: 2px solid $grayPurple;
          box-sizing: border-box;
        }
      }
      &#example-one {
        display: block;
        .square {
          width: 100%;
          height: 100%;
          background-color: #505050;  
          border: none;  
        }
      }
      &#example-two {
        .square {
          &:nth-of-type(1) {
            width: 100%;
            background-color: #505050;
            flex: 2;
            background-image: url('../images/logo-quartz.png');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: 50%;         
          }
          &:nth-of-type(2) {
            width: 33.3%;
            background-color: $robinsEgg;   
            flex: 2; ;
            background-image: url('../images/logo-tda.png');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: 50%;        
          }
          &:nth-of-type(3) {
            width: 33.3%;
            background-color: $grayPurple;
            flex: 2;
            background-image: url('../images/logo-cspace.png');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: 50%;          
          }
          &:nth-of-type(4) {
            width: 33.3%;
            background-color: gray;
            flex: 2;;
            background-image: url('../images/logo-mediaplanet.png');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: 50%;            
          }
        }
      }
      &#example-three {
        .square {
          &:nth-of-type(1) {
            width: 60%;
            background-color: #505050;
            flex: 2;
            background-image: url('../images/portfolio-cartier.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;         
          }
          &:nth-of-type(2) {
            width: 40%;
            background-color: $robinsEgg;   
            flex: 2; ;
            background-image: url('../images/portfolio-hennessy.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;        
          }
          &:nth-of-type(3) {
            width: 33%;
            background-color: $grayPurple;
            flex: 3;
            background-image: url('../images/portfolio-kcs.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;          
          }
          &:nth-of-type(4) {
            width: 33%;
            background-color: gray;
            flex: 3;
            background-image: url('../images/portfolio-lolaskusina.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;            
          }
          &:nth-of-type(5) {
            width: 33%;
            background-color: gray;
            flex: 3;;
            background-image: url('../images/portfolio-investools.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;            
          }
        }
      }
      &#example-four {
        .square {
          background-color: #B8B8B8;
          &:nth-of-type(1) {
            width: 25%;
            background-color: #505050;
            flex: 3;
            background-image: url('../images/creative-cake.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;         
          }
          &:nth-of-type(2) {
            width: 45%;
            background-color: $robinsEgg;   
            flex: 3; ;
            background-image: url('../images/creative-cards.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;        
          }
          &:nth-of-type(3) {
            width: 30%;
            background-color: $grayPurple;
            flex: 3;
            background-image: url('../images/creative-crochet.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;          
          }
          &:nth-of-type(4) {
            width: 40%;
            background-color: gray;
            flex: 3;
            background-image: url('../images/creative-cupcake.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;            
          }   
          &:nth-of-type(5) {
            width: 30%;
            background-color: gray;
            flex: 3;
            background-image: url('../images/creative-favors.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;            
          }
          &:nth-of-type(6) {
            width: 30%;
            background-color: gray;
            flex: 3;
            background-image: url('../images/creative-party.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;            
          }      
        }

      }
      &#example-five {
        .square {
          padding: 2em;
          a {
            text-align: center;
            padding: 1.5em;
          }
          &:nth-of-type(1) {
            width: 100%;
            height: 25%;
            background-color: #505050;
            color: #fff;
          }
          &:nth-of-type(2) {
            width: 100%;
            height: 25%;
            background-color: $robinsEgg;
            color: #fff;
          }
          &:nth-of-type(3) {
            width: 100%;
            height: 25%;
            background-color: $grayPurple;
            color: #fff;    
          }
          &:nth-of-type(4) {
            width: 100%;
            height: 25%;
            background-color: gray;
            color: #fff;  
          }
        }
      }
    }
  }


  &.loaded {
    .hello1 {
      opacity: 1;
      transition: opacity .25s .25s ease-in;
    }
    .hello2 {
      opacity: 1;
      transition: opacity .25s .5s ease-in;
    }
    .example {
      &#example-one {
        .square {
          background-image: url('../images/italy.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
        }
      }
    }
  }
}


@media all and (max-width: 1120px) {
  .container {
    .main-view {
      width: 90%;
      height: 90%;
    }
    .main-content {
      padding: 2em;
    }
    .col {
      &.left-col {
        font-size: .65em;
      }
    }
    .inner-content {
      .example {
        border: none;
        &#example-two {
          .square {
            width: calc(100% / 2) !important;
            height: calc(100% / 2) !important;
          }
        }
        &#example-three {
          .square {
            width: calc(100% / 2) !important;
            height: calc(100% / 3) !important;
          }          
        }
        &#example-four {
          .square {
            width: calc(100% / 2) !important;
            height: calc(100% / 3) !important;
          }           
        }
      }
    }
  }  
}

@media all and (max-width: 480px) {
    .container {
      .main-content {
        padding: 1em;
      }
      .inner-content {
        .example {
          width: 100%;
          .square {
            width: 100%;
            height: 100%;
          }
        }
        .hello1 {
          font-size: 1.7em;
        }
        .text {
          display: none;
        }
        &.work,
        &.portfolio,
        &.creative,
        &.contact {
          .example .square {
            width: 2em;
            height: 2em;
          }
        }
        &.work {
          #text-two {
            display: block;
          }
        }
        &.portfolio {
          #text-three {
            display: block;
          }          
        }
        &.creative {
          #text-four {
            display: block;
          }          
        }
        &.contact {
          #text-five {
            display: block;
          }
        }
      }
      .col {
        width: 100%;
        &.left-col {
          height: 35%;
          width: 100%;        
        }
        &.right-col {
          height: 55%;
          width: 100%;
        }
      }
    }
}

