.slider {
	height: 1em;
	background: linear-gradient(to right, $robinsEgg, $grayPurple);
	clear: both;
	top: 1em;
	&:after {
	    content: 'slide to navigate';
	    position: absolute;
	    color: #ccc;
	    bottom: -110%;
	    font-size: .6em;
	    left: 0;
	}
}

.slider-labels {
	width: 100%;
}
.label {
	font-size: 1em;
	color: #fff;
	font-family: 'Poiret One';
	width: calc(100% / 4);
	float: left;
	position: relative;
	text-align: center;
	line-height: 1em;
	pointer-events: none;
}
.sub-handle {
	width: 1em;
	height: 1em;
	background-color: #fff;
	border-radius: 50%;
	border: .2em solid $orange;
	&.chosen {
	    width: 2em;
	    background-color: #EDA108;
	    border-radius: 0;
	}
}
