.hello-content {
	font-size: 1.5em;
	font-weight: 400;
	text-align: justify;
	color: #000;
}

.col {
	width: 50%;
	height: 100%;
	font-size: .75em;
	float: left;
	position: relative;
}

.text {
	opacity: 0;
}
.show {
	opacity: 1 !important;
	transition: opacity .25s ease-in;
}


.example {
	width: 80%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	.square {
		width: 45%;
		height: 20%;
		float: left;
		margin: 2%;
		background-color: gray;
	}
}

.example.25 {
	display: block;
}


