.positions-li {
	margin: 3em 0;
    height: 6em;
	&.quartz {
		.work-logo {
			background: url(../images/logo-quartz.png) no-repeat;
			background-size: 60%;
			background-position: center;
		}
	}
	&.tda {
		.work-logo {
			background: url(../images/logo-tda.png) no-repeat;
			background-size: 40%;
			background-position: center;
		}
	}
	&.cspace {
		.work-logo {
			background: url(../images/logo-cspace.png) no-repeat;
			background-size: 60%;
			background-position: center;
		}
	}
	&.mediaplanet {
		.work-logo {
			background: url(../images/logo-mediaplanet.png) no-repeat;
			background-size: 60%;
			background-position: center;	
		}
	}
}
.work-logo {
	width: 30%;
	height: 100%;
	position: relative;
	margin-bottom: .3em;
	float: left;
}
.work-title {
	margin: .25em 0;
	padding: 0;
	font-size: 1em;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-family: 'Josefin Slab';
}
.work-details {
    width: 70%;
    height: auto;
    text-align: left;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media all and (max-width: 480px) {
	.positions-li {
		margin: 5em 0;
	}
}