$navyBlue: #0F1626;
$beige: #AB987A;
$coral: #FF533D;
$eggshell: #F5F5F5;
$indigo: #30415D;

::-webkit-scrollbar { 
    display: none; 
}

body {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	text-decoration: none;
	list-style-type: none;
}

.container {
	font-size: 12px;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand';
	max-width: 100%;
	margin: 0;
	padding: 0;
/*	background: #e8edf3;*/
}


/*HEADER*/
.hero {
	width: 40%;
	height: 100%;
	text-align: center;
	font-family: 'Josefin Slab';
	font-size: 3em;
	line-height: 3em;
	letter-spacing: 2px;
	color:#b56969;
	background: $eggshell;
	float: left;
	position: relative;
	right: 0;
	transition: right .75s ease-in-out;

}

.hero-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3vw;
	color: darkgray;
}

.content-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	&.animate {
		.hero {
			right: 100%;
		}
		.navigation {
			left: 100%;
		}
		.main-content {
			top: 100%;
		}
	}
}

/*INTRO*/
.main-view {
	font-size: 1.2em;
	width: 60%;
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-weight: 300;
	position: relative;
    color: #fff;
    float: left;
    box-sizing: border-box;
    background: $coral;
    &:before {
		content: '';
		position: absolute;
		border-radius: 50%;
		width: 8em;
		height: 8em;
		left: 0%;
		top: 40%;
		transform: translate(-50%);
		z-index: 1;
    }

    &.HelloView {
    	background: $coral;
    	&:before {
			background: #fff url(../images/about.gif) no-repeat;
			background-size: cover;
			background-position: 100%;
			border: 5px solid $coral;
			transition: all .5s ease-in;
    	}
    }
    &.WorkView {
    	background: $navyBlue;
    	&:before {
			background: #fff url(../images/work.gif) no-repeat;
			background-size: cover;
			background-position: 100%;
			border: 5px solid $navyBlue;
			border-radius: 5px;
			transition: all .5s ease-in;
    	}
    }
    &.PortfolioView {
    	background: $beige;
    	&:before {
			background: #fff url(../images/portfolio.gif) no-repeat;
			background-size: contain;
			background-position: top;
			border: 5px solid $beige;
			transition: all .5s ease-in;
    	}
    }
    &.ContactView {
    	background: $indigo;
    	&:before {
			background: #fff url(../images/contact.gif) no-repeat;
			background-size: cover;
			background-position: 100%;
			border: 5px solid $indigo;
			border-radius: 5px;
			transition: all .5s ease-in;
    	}
    }
}

.main-content {
	width: 100%;
	height: 100%;
	overflow-y:scroll;
	position: relative;
	top: 0;
	transition: top .75s 1s ease-in-out;
	background: $coral;
}
.main-content-container {
	width: 100%;
	height: 400%;
	position: absolute;
	transition: top .75s ease-in-out;
}
.content {
	clear: both;
	width: 100%;
	height: 25%;
	margin: 0 auto;
	position: relative;
	&.hello-content {
		background: $coral;
	}
	&.work-content {
		background: $navyBlue;
	}
	&.portfolio-content {
		background: $beige;
	}
	&.contact-content {
		background: $indigo;
	}
}

.inner-content {
	width: 65%;
	height: auto;
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}

@media all and (max-width: 1025px) {
	.main-view {
		font-size: 1.4vw;
		width: 75%;
	}
	.hero {
		width: 25%;
	}
	.hero-text {
	    width: 60%;
	    line-height: 1em;
	    font-size: 3vw;
	    text-align: left;
	    left: .5em;
	}
}

@media all and (max-width: 767px) {
	body {
		background: $eggshell;
	}
	.main-view {
		width: 100%;
		height: 90%;
		position: relative;
		font-size: 2vw;
		&:before {
			left: 90%;
   		 	top: 0;
   		 	width: 5em;
   		 	height: 5em;
		}
		&.HelloView,
		&.WorkView,
		&.PortfolioView,
		&.ContactView {
    		background: $eggshell;
    	}
	}
	.hero {
		width: 100%;
		height: 10%;
		position: relative;
	}
	.hero-text {
		font-size: 4vw;
	}
}

@media all and (max-width: 480px) {
	body {
		background: $eggshell;
	}
	.hero-text {
		font-size: 7vw;
	}
	.main-view {
		&:before {
			left: 50%;
   		 	width: 8em;
   		 	height: 8em;
		}
	}
	.content {
	}
	.inner-content {
		width: 80%;
		font-size: 1.4em;
	}
}


@import '_navigation.scss';
@import '_contact.scss';
@import '_portfolio.scss';

@import '_work.scss';

@import '_hello.scss';
@import '_intro.scss';